/* 来必力样式代码 */
.comment-area-customize {
  line-height: 1.8em;
  padding-right: 7.6923%;
  padding-left: 7.6923%;
  margin: 0 30px;
  background-color: #FFF;
  /*overflow: hidden;*/
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 18px;
}
/* 来必力背景过渡 */
.mid-col.show .comment-area-customize {
  background: hsla(0, 0%, 100%, .3);
}
/* 移动端来必力样式 */
@media screen and (max-width: 800px) {
  .comment-area-customize {
    padding: 10px;
    margin: 10px 0;
  }
  .mid-col.show .comment-area-customize {
    background: hsla(0, 0%, 100%, .3)
  }
}

/* 文章类型标签优化 */
.article-info-index.article-info-customize {
  margin: 10px 0;
  min-height: 20px;
}
/* 文章类型标签移动端优化 */
@media screen and (max-width: 800px) {
  .article-info-index.article-info-customize {
    margin: 10px 0 20px;
    min-height: 20px;
  }
}
/* 标签tag开关微调 */
.tools-col .tools-section .search-tag.tagcloud .search-switch input:after {
  top: 14.5px;
  left: 0;
  background-color: #64BD63;
}
.tools-col .tools-section .search-tag.tagcloud .search-switch input:checked:after {
  left: 28px;
}
/* 标签云背景优化 */
.tools-col .tools-section .search-tag.tagcloud .article-tag-list {
  border-radius: 18px;
}

/* 干掉文章标题前的小黑块 */
.article-header {
  border-left: 0 solid #4d4d4d;
}
/* 移动端标题样式 */
@media screen and (max-width: 800px) {
  .article-header {
    border-left: none;
    padding: 0;
    border-bottom: 1px dotted #ddd
  }
}

/* 文章标题优化 */
a.article-title:hover {
  color: #39C7F7;
}

/* 文章日期优化 */
.archive-article-date:hover {
  color: #39C7F7;
}

/* 展开全文按钮优化 */
.article-more-link {
  float: left;
}
.article-more-link a {
  background: rgba(77, 77, 77, 0.2);
  color: #999999;
  border-radius: 18px;
}
.mid-col.show .article .article-more-link a {
  background: rgba(77, 77, 77, 0.1);
  color: #999999;
}
.article-more-link a:hover {
  color: #FFFFFF;
  background: #39C7F7
}
.mid-col.show .article .article-more-link a:hover {
  color: #FFFFFF;
  background: #39C7F7
}

/* 文章框圆角化 */
.article {
  border: 0;
  /*overflow: hidden;*/
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 18px;
}

/* 左列个人主页优化 */
.left-col {
  margin: 30px 0 170px 0;
  height: -webkit-fill-available;
  /*overflow: hidden;*/
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 18px 18px 0;
}
/*左列背景过渡到透明*/
.left-col.show {
  background: hsla(0, 0%, 0%, .0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .0);
  margin: 30px auto;
  border-radius: 0;
}
/* 头像优化 */
.left-col .intrude-less {
  margin: 12% auto 0;
}
.left-col #header .profilepic {
  border: 0 solid #fff;
}
/* 主页随笔自动居中 */
.left-col #header .header-menu {
margin: auto;
}
/* 主页随笔移动端按钮高亮并增大头像背景高度 */
@media screen and (max-width: 800px) {
  .header-menu li a:hover {
    color: #FFFFFF;
    background: #39C7F7
  }
  #mobile-nav .overlay {
    height: 150px;
  }
}
/* 跳转到站外按钮高亮 */
#header .header-nav .social a.github:hover {
  background: #000000;
  border: 1px solid #000000;
}
#header .header-nav .social a.weibo:hover {
  background: #E6162D;
  border: 1px solid #E6162D;
}
#header .header-nav .social a.rss:hover {
  background: #FF6600;
  border: 1px solid #FF6600;
}
#header .header-nav .social a.zhihu:hover {
  background: #0E88EB;
  border: 1px solid #0E88EB;
}

/* 移动端三点式菜单页面优化 */
@media screen and (max-width: 800px) {
  /* 顶部三个按钮顶部余量 */
  .header-menu.tools-nav {
    margin-top: 20px;
  }
  /* 菜单页面宽度 */
  .tools-col .tools-section, .tools-col .tools-wrap {
    width: 333px;
  }
  /* 搜索按钮偏移 */
  .tools-col .tools-section .search-wrap, .tools-col .tools-wrap .search-wrap {
    width: 292px;
  }
  /* 搜索边框偏移 */
  .tools-col .tools-section .search-wrap .search-ipt {
    width: 293px;
  }
  /* 标签余量归零 */
  .tools-col .tools-section .search-tag.tagcloud, .tools-col .tools-wrap .search-tag.tagcloud {
     margin-right: 0;
  }
  /* 标签提示符tag:偏移 */
  .tools-col .tools-section .search-tag.tagcloud .search-tag-wording {
    margin: 4px 69px 0 0;
  }
  /* 标签按钮偏移 */
  .tools-col .tools-section .search-tag.tagcloud .search-switch input {
    width: 34px;
  }
}



