/* 来必力样式代码 */
.comment-area-customize {
  line-height: 1.8em;
  padding-right: 7.6923%;
  padding-left: 7.6923%;
  margin: 0 30px;
  background-color: #FFF;
  /*overflow: hidden;*/
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 18px;
}
/* 来必力背景过渡 */
.mid-col.show .comment-area-customize {
  background: hsla(0, 0%, 100%, .3);
}
/* 移动端来必力样式 */
@media screen and (max-width: 800px) {
  .comment-area-customize {
    padding: 10px;
    margin: 10px 0;
  }
  .mid-col.show .comment-area-customize {
    background: hsla(0, 0%, 100%, .3)
  }
}

/* 文章类型标签优化 */
.article-info-index.article-info-customize {
  margin: 10px 0;
  min-height: 20px;
}
/* 文章类型标签移动端优化 */
@media screen and (max-width: 800px) {
  .article-info-index.article-info-customize {
    margin: 10px 0 20px;
    min-height: 20px;
  }
}
/* 标签tag开关微调 */
.tools-col .tools-section .search-tag.tagcloud .search-switch input:after {
  top: 14.5px;
  left: 0;
  background-color: #64BD63;
}
.tools-col .tools-section .search-tag.tagcloud .search-switch input:checked:after {
  left: 28px;
}
/* 标签云背景优化 */
.tools-col .tools-section .search-tag.tagcloud .article-tag-list {
  border-radius: 18px;
}

/* 干掉文章标题前的小黑块 */
.article-header {
  border-left: 0 solid #4d4d4d;
}
/* 移动端标题样式 */
@media screen and (max-width: 800px) {
  .article-header {
    border-left: none;
    padding: 0;
    border-bottom: 1px dotted #ddd
  }
}

/* 文章标题优化 */
a.article-title:hover {
  color: #39C7F7;
}

/* 文章日期优化 */
.archive-article-date:hover {
  color: #39C7F7;
}

/* 展开全文按钮优化 */
.article-more-link {
  float: left;
}
.article-more-link a {
  background: rgba(77, 77, 77, 0.2);
  color: #999999;
  border-radius: 18px;
}
.mid-col.show .article .article-more-link a {
  background: rgba(77, 77, 77, 0.1);
  color: #999999;
}
.article-more-link a:hover {
  color: #FFFFFF;
  background: #39C7F7
}
.mid-col.show .article .article-more-link a:hover {
  color: #FFFFFF;
  background: #39C7F7
}

/* 文章框圆角化 */
.article {
  border: 0;
  /*overflow: hidden;*/
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 18px;
}

/* 左列个人主页优化 */
.left-col {
  margin: 30px 0 170px 0;
  height: -webkit-fill-available;
  /*overflow: hidden;*/
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 18px 18px 0;
}
/*左列背景过渡到透明*/
.left-col.show {
  background: hsla(0, 0%, 0%, .0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .0);
  margin: 30px auto;
  border-radius: 0;
}
/* 头像优化 */
.left-col .intrude-less {
  margin: 12% auto 0;
}
.left-col #header .profilepic {
  border: 0 solid #fff;
  -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.5), 0px 2px 20px 3px rgba(0,0,0,0.25);
  box-shadow: 0 0 0 2px rgba(255,255,255,0.5), 0px 2px 20px 3px rgba(0,0,0,0.25);
}
/* 头像跃动 */
.left-col #header .profilepic:hover {
  -webkit-animation: jello 1s;
  animation: jello 1s;
}
/* 移动端头像优化 */
@media screen and (max-width: 800px) {
  .profilepic {
    width: 100px;
    height: 100px;
    margin: 15px auto 30px;
    border: 0 solid #fff;
    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.5), 0px 2px 20px 3px rgba(0,0,0,0.25);
    box-shadow: 0 0 0 2px rgba(255,255,255,0.5), 0px 2px 20px 3px rgba(0,0,0,0.25);
  }
  /* 头像跃动 */
  .profilepic:hover {
    -webkit-animation: jello 1s;
    animation: jello 1s;
  }
}
/*头像旋转360°，鼠标离开后又转回来，代码如下:*/
/*
.left-col #header .profilepic img {
  !* 控制旋转速度时间*!
  -webkit-transition: -webkit-transform 1.0s ease-out;
  -moz-transition: -moz-transform 1.0s ease-out;
  transition: transform 1.0s ease-out;
}
.left-col #header .profilepic img:hover {
  !* 鼠标经过360% *!
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
*/

/* 主页随笔自动居中 */
.left-col #header .header-menu {
margin: auto;
}
/* 主页随笔移动端按钮高亮并增大头像背景高度 */
@media screen and (max-width: 800px) {
  .header-menu li a:hover {
    color: #FFFFFF;
    background: #39C7F7
  }
  #mobile-nav .overlay {
    height: 150px;
  }
}
/* 跳转到站外按钮高亮 */
#header .header-nav .social a.github:hover {
  background: #000000;
  border: 1px solid #000000;
}
#header .header-nav .social a.weibo:hover {
  background: #E6162D;
  border: 1px solid #E6162D;
}
#header .header-nav .social a.rss:hover {
  background: #FF6600;
  border: 1px solid #FF6600;
}
#header .header-nav .social a.zhihu:hover {
  background: #0E88EB;
  border: 1px solid #0E88EB;
}

/* 移动端三点式菜单页面优化 */
@media screen and (max-width: 800px) {
  /* 顶部三个按钮顶部余量 */
  .header-menu.tools-nav {
    margin-top: 20px;
  }
  /* 菜单页面宽度 */
  .tools-col .tools-section, .tools-col .tools-wrap {
    width: 333px;
  }
  /* 搜索按钮偏移 */
  .tools-col .tools-section .search-wrap, .tools-col .tools-wrap .search-wrap {
    width: 292px;
  }
  /* 搜索边框偏移 */
  .tools-col .tools-section .search-wrap .search-ipt {
    width: 293px;
  }
  /* 标签余量归零 */
  .tools-col .tools-section .search-tag.tagcloud, .tools-col .tools-wrap .search-tag.tagcloud {
     margin-right: 0;
  }
  /* 标签提示符tag:偏移 */
  .tools-col .tools-section .search-tag.tagcloud .search-tag-wording {
    margin: 4px 69px 0 0;
  }
  /* 标签按钮偏移 */
  .tools-col .tools-section .search-tag.tagcloud .search-switch input {
    width: 34px;
  }
}

/* 增大移动端文章间隔 */
@media screen and (max-width: 800px) {
  .article {
    margin: 20px 0;
  }
}

/* 公众号 */
.hide_img {
  display: block;
  z-index: 9999;
  position: absolute;
  width: 50px;
  margin: auto 36px;
  transition: all .2s ease-in;
}
.show_img:hover + .hide_img {
  display: block;
  width: 77%;
  margin: auto -25px;
  transition: all .2s ease-in;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* 左列弹出过渡 */
.left-col.show .hide_img {
  margin: auto 60px;
  width: 0;
  transition: all .2s ease-in;
}
.left-col.show .show_img:hover + .hide_img {
  display: block;
  width: 77%;
  margin: auto -25px;
  transition: all .2s ease-in;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* 公众号移动端过渡 */
@media screen and (max-width: 800px) {
  .hide_image {
    display: block;
    z-index: 9999;
    position: absolute;
    width:  0;
    margin: -19px auto;
    transition: all .2s ease-in;
  }
  .show_image:hover + .hide_image {
    display: block;
    width: 60px;
    margin: -48px auto;
    transition: all .2s ease-in;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

/* 文章目录样式 */
#container .show-toc-btn, #container .toc-article {
  display: none;
}

.toc-article {
  display: none;
  z-index: 100;
  background: #fff;
  border: 1px solid #ccc;
  max-width: 250px;
  min-width: 150px;
  max-height: 500px;
  overflow-y: auto;
  font-size: 12px;
  padding: 10px;
  position: fixed;
  right: 35px;
  /*top: 129px;*/
  margin: 0 4px 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 0px 0 rgba(0, 0, 0, 0.12);
  border-radius: 18px 0 0 18px;
}

.toc-article .toc-close {
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  float: right;
  color: #ccc
}
.toc-article .toc-close {
  top: 130px;
  width: 25px;
  height: 150px;
  margin: -10px -10px auto;
}

.toc-article .toc-close:hover {
  color: #000
}

.toc-article .toc {
  font-size: 12px;
  padding: 0;
  line-height: 20px
}

.toc-article .toc .toc-number {
  color: #333
}

.toc-article .toc .toc-text:hover {
  text-decoration: underline;
  color: #2a6496
}

.toc-article li {
  list-style-type: none
}

.toc-article .toc-level-1 {
  margin: 4px 0
}

.toc-article .toc-child {
}

@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
  60% {
    opacity: 1;
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01)
  }
  100% {
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
  60% {
    opacity: 1;
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01)
  }
  100% {
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}

@-o-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
  60% {
    opacity: 1;
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01)
  }
  100% {
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
  60% {
    opacity: 1;
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01)
  }
  100% {
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}

.show-toc-btn {
  display: block;
  z-index: 10;
  width: 30px;
  height: 153px;
  min-height: 14px;
  overflow: hidden;
  padding: 4px 6px 8px 5px;
  border: 1px solid #ddd;
  border-right: none;
  position: fixed;
  right: 39px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 18px 0 0 18px;
}

.show-toc-btn .btn-bg {
  margin-top: 2px;
  display: block;
  width: 16px;
  height: 14px;
  background: url(http://7xtawy.com1.z0.glb.clouddn.com/show.png) no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}

.show-toc-btn .btn-text {
  color: #999;
  font-size: 12px
}

.show-toc-btn:hover {
  cursor: pointer
}

.show-toc-btn:hover .btn-bg {
  background-position: 0 -16px
}

.show-toc-btn:hover .btn-text {
  font-size: 12px;
  /*color: #ea8010;*/
  /*color: #0088CC;*/
  color: #FFFFFF;
  background: #39C7F7
}
.show-toc-btn:hover {
  background: #39C7F7
}

.toc-article li ol, .toc-article li ul {
  margin-left: 30px;
}

.toc-article ol, .toc-article ul {
  margin: 10px 0;
}

/* 移动端导航 */
@media screen and (max-width: 800px) {
  .show-toc-btn {
    top: 150px;
    right: 0;
    width: 10px;
    padding: 0;
  }
  .show-toc-btn .btn-text {
    font-size: 9px;
  }
  .show-toc-btn:hover .btn-text {
    font-size: 9px;
  }
  .toc-article {
    top: 150px;
    right: -5px;
    border-radius: 18px 0 0 18px;
  }
  .toc-article .toc-close {
    top: 130px;
    width: 25px;
    height: 150px;
    margin: -10px -10px auto;
  }
  .toc-article .toc-close:hover {
    color: #000;
  }
}
