/* 增加彩带可见度 */
/* 全局背景半透明，提高彩带可见区域 */
/*#container {
  background: rgba(234, 234, 234, .5);
}*/
/* 文章外部背景关闭 */
.mid-col {
  background: none;
}
/* 内容背景半透明，提高彩带可见区域 */
.left-col,
.article {
  background: rgba(255, 255, 255, .5);
}

/* 来必力样式代码 */
.comment-area-customize {
  line-height: 1.8em;
  padding-right: 7.6923%;
  padding-left: 7.6923%;
  margin: 0 30px;
  background-color: #FFF;
  /*overflow: hidden;*/
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 18px;
}
/* 来必力背景过渡 */
.mid-col.show .comment-area-customize {
  background: hsla(0, 0%, 100%, .3);
}
/* 移动端来必力样式 */
@media screen and (max-width: 800px) {
  .comment-area-customize {
    padding: 10px;
    margin: 10px 0;
  }
  .mid-col.show .comment-area-customize {
    background: hsla(0, 0%, 100%, .3)
  }
}
.scroller {
  overflow-y: scroll;
  scrollbar-color: #0A4C95 #C2D2E4;
}
/* 文章类型标签优化 */
.article-info-index.article-info-customize {
  margin: 10px 0;
  min-height: 20px;
}
/* 文章类型标签移动端优化 */
@media screen and (max-width: 800px) {
  .article-info-index.article-info-customize {
    margin: 10px 0 20px;
    min-height: 20px;
  }
}
/* 标签tag开关微调 */
.tools-col .tools-section .search-tag.tagcloud .search-switch input:after {
  top: 104%;
  left: 3px;
  width: 11px;
  height: 11px;
  background-color: #64BD63;
}
.tools-col .tools-section .search-tag.tagcloud .search-switch input:checked:after {
  left: 28px;
  width: 12px;
  height: 12px;
}
/* 标签云背景优化 */
.tools-col .tools-section .search-tag.tagcloud .article-tag-list {
  border-radius: 8px;
  margin: 15px 30px 0 10px;
}
/* 标签云选中文章鼠标悬停背景圆角优化 */
.tools-col .tools-section .search-ul .search-li:hover {
  background: hsla(0, 0%, 100%, .2);
  border-radius: 18px;
}
/* 隐藏标签云文章分割线 */
.tools-col .tools-section .search-ul .search-li {
  margin: 0 30px 0 10px;
  padding: 10px 10px;
  border-bottom: 0 dotted #dcdcdc;
}
@media screen and (max-width: 800px) {
  .tools-col .tools-section .search-ul .search-li {
    margin: 0 20px 0 10px;
  }
}

/* 干掉文章标题前的小黑块 */
.article-header {
  border-left: 0 solid #4d4d4d;
  padding: 30px 0 0 7.6923%;
}

/* 移动端标题样式 */
@media screen and (max-width: 800px) {
  .article-header {
    border-left: none;
    padding: 0;
    border-bottom: 1px dotted #ddd
  }
}

/* 文章标题行距优化 */
a.article-title:hover {
  color: #39C7F7;
}
.article-entry h1 {
  text-align: center;
  font-weight: 500;
  margin-top: 2em;
}
.article-entry h2, .article-entry h3, .article-entry h4, .article-entry h5, .article-entry h6 {
  margin-top: 40px;
  margin-bottom: 0;
  color: #574c4c;
  font-weight: 500;
}

/* 文章日期优化 */
.archive-article-date:hover {
  color: #39C7F7;
}

/* 展开全文按钮优化 */
.article-more-link {
  float: left;
}
.article-more-link a {
  background: rgba(77, 77, 77, 0.2);
  color: #999999;
  border-radius: 18px;
}
.mid-col.show .article .article-more-link a {
  background: rgba(77, 77, 77, 0.1);
  color: #999999;
}
.article-more-link a:hover {
  color: #FFFFFF;
  background: #39C7F7
}
.mid-col.show .article .article-more-link a:hover {
  color: #FFFFFF;
  background: #39C7F7
}

/* 文章框圆角化 */
.article {
  border: 0;
  /*overflow: hidden;*/
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 18px;
}

/* 文章行内代码块优化 */
.article-entry li code, .article-entry p code {
  color: #08c;
  padding: 3px 3px;
  margin: 0 3px;
  background: rgba(57, 199, 247, 0.3);
  border: none;
  border-radius: 5px;
  word-wrap: break-word;
  font-size: 14px;
  font-family: "DejaVu Sans Mono", Menlo, Monaco, Andale Mono, Microsoft YaHei, lucida console, Courier New, monospace;
}
.mid-col.show .article-entry li code, .mid-col.show .article-entry p code {
  background: rgba(57, 199, 247, 0.2);
}

/* 文章代码块优化 */
.article-entry .highlight {
  border-radius: 8px;
  transition: all .2s ease-in;
}
.article-entry .highlight .line {
  color: #fff;
  min-height: 19px;
  overflow-x: auto;
  white-space: pre;
  font-family: "DejaVu Sans Mono", Menlo, Monaco, Andale Mono, Microsoft YaHei, lucida console, Courier New, monospace;
}
.article-entry pre {
  background: none;
}
.article-entry .highlight {
  background: rgba(39, 40, 34, .7);
}
.article-entry .highlight:hover {
  background: rgba(39, 40, 34, 1);
}
.mid-col.show .article-entry .highlight {
  background: rgba(39, 40, 34, .3);
}
.mid-col.show .article-entry .highlight:hover {
  background: rgba(39, 40, 34, 1);
}
/* 禁止代码块行号被鼠标选中 */
.gutter pre {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
/* 代码块行号右边框填充 */
.article-entry .highlight .gutter pre {
  color: #999;
  padding-right: 10px;
  border-right: 1px solid #999;
}
.article-entry .highlight .code pre {
  padding-left: 10px;
}
/* 行号颜色 */
.article-entry .highlight .gutter pre .line {
  color: #999;
  text-shadow: 0 1px #444;
}
/* 代码块样式之评论：黄色 */
pre .comment {
  color:#ffec8b
}
/* 代码块样式之类的参数、函数的关键字、关键字：蓝色 */
pre .class .params, pre .function .keyword, pre .keyword, pre .literal {
  color: #66d9ef
}
/* 代码块样式之css的属性值、函数名、参数、标签：白色 */
pre .css .value, pre .doctype, pre .function, pre .params, pre .tag {
  color: #ccc
  /*color:#66d9ef */
}
/* 代码块样式之HTML或者xml的头部元素：红色(颜色较浅) */
pre .meta{
  color: #f78da1;
}
/* 代码块样式之HTML的标签：红色 */
pre .tag .name {
  /* color:#dc3958; */
  color: #ff6481;
}
/* 代码块样式之：色 */
pre .at_rule, pre .at_rule .keyword, pre .css~* .tag, pre .preprocessor, pre .preprocessor .keyword, pre .title{
  color: #fa9400
}
/* 代码块样式之属性、类、函数的title：绿色 */
pre .attr,pre .attribute, pre .built_in, pre .class, pre .css~* .class, pre .function .title {
  color: #a6e22e
}
/* 代码块样式之字符串、属性值：猪肝色 */
pre .string, pre .value {
  color: #e6db74
}
/* 代码块样式之数字：粉红色 */
pre .number {
  color: #ffe4b5
}
pre .css~* .id, pre .id {
  color: #fd971f
}

/* 文章代码块复制功能 */
/*  这是原代码块 */
pre .css~* .id, pre .id {
  color:#fd971f
}
/* 代码块复制按钮 */
.highlight {
  /* 方便copy代码按钮（btn-copy）的定位 */
  position: relative;
}
.btn-copy {
  display: inline-block;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
. -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  padding: 2px 6px;
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: 0;
}
.btn-copy span {
  margin-left: 5px;
}
.highlight:hover .btn-copy {
  opacity: 1;
}

/* 文章字体优化 */
body, button, input, select, textarea {
  font-family: "DejaVu Sans Mono", lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

/* 文章超链接优化 */
/* 文章中的超链接,鼠标悬浮特效 */
.article-entry a{
  display: inline-block;
  position: relative;
  color: #08c;
}
/* 鼠标悬浮时，变色 */
.article-entry a:hover{
  color: #d7191a;
  height: 1.5px;
  transition:.8s;
}
/* 鼠标悬浮时，下划线从中间向两边延伸 */
.article-entry a:hover::after{
  transform: scaleX(1);
  /* 旋转，与transform连用；这里作用：鼠标悬浮时，底部的下划线从中间扩散到两边。
     bottom right :左到右出现，左到右消失（需配合上面的::after）*/
  transform-origin: bottom center;
}
/* 鼠标移开后，下划线从两边向中间消失 */
.article-entry a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #08c;
  /* 详见：https://www.w3school.com.cn/cssref/pr_transform-origin.asp,
     旋转，与transform连用；这里作用：鼠标移开后，底部的下划线从中间开始消失 */
  transform-origin: bottom center;
  transition: transform .3s ease-out;
}

/* 文章图片优化 */
.article img {
  opacity: .7;
  border-radius: 8px;
  transition: all .2s ease-in;
}
.article img:hover {
  opacity: 1;
}
.mid-col.show .article img {
  opacity: .3;
}
.mid-col.show .article img:hover {
  opacity: 1;
}
/* 文章图片全屏时降低遮罩 */
.pswp__bg {
  opacity: .8!important;
}

/* 左列个人主页优化 */
.left-col {
  margin: 30px 0;
  height: 91.5%;
  /* overflow: hidden; */
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 18px 18px 0;
}
/*左列背景过渡到透明*/
.left-col.show {
  background: hsla(0, 0%, 0%, .0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .0);
  margin: 30px auto;
  border-radius: 0;
}
/* 头像优化 */
.left-col .intrude-less {
  margin: 12% auto 0;
}
.left-col #header .profilepic {
  border: 0 solid #fff;
  -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.5), 0 2px 20px 3px rgba(0,0,0,0.25);
  box-shadow: 0 0 0 2px rgba(255,255,255,0.5), 0 2px 20px 3px rgba(0,0,0,0.25);
}
/* 头像跃动 */
.left-col #header .profilepic:hover {
  -webkit-animation: jello 1s;
  animation: jello 1s;
}
/* 移动端头像优化 */
@media screen and (max-width: 800px) {
  .profilepic {
    width: 100px;
    height: 100px;
    margin: 15px auto 30px;
    border: 0 solid #fff;
    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.5), 0 2px 20px 3px rgba(0,0,0,0.25);
    box-shadow: 0 0 0 2px rgba(255,255,255,0.5), 0 2px 20px 3px rgba(0,0,0,0.25);
  }
  /* 头像跃动 */
  .profilepic:hover {
    -webkit-animation: jello 1s;
    animation: jello 1s;
  }
}
/*头像旋转360°，鼠标离开后又转回来，代码如下:*/
/*
.left-col #header .profilepic img {
  !* 控制旋转速度时间*!
  -webkit-transition: -webkit-transform 1.0s ease-out;
  -moz-transition: -moz-transform 1.0s ease-out;
  transition: transform 1.0s ease-out;
}
.left-col #header .profilepic img:hover {
  !* 鼠标经过360% *!
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
*/
/* 个人描述字体粗细 */
.left-col #header .header-subtitle {
  font-weight: 300;
}
/* 所有文章 友链 关于我 */
.left-col #header a {
  font-weight: 300;
}
.left-col #header .header-smart-menu a:after {
  content: "";
}
/* 主页随笔自动居中 */
.left-col #header .header-menu {
margin: auto;
}
/* 主页随笔移动端按钮高亮并增大头像背景高度 */
@media screen and (max-width: 800px) {
  .header-menu li a:hover {
    color: #FFFFFF;
    background: #39C7F7
  }
  #mobile-nav .overlay {
    height: 150px;
  }
}
/* 跳转到站外按钮高亮 */
#header .header-nav .social a.github:hover {
  background: #000000;
  border: 1px solid #000000;
}
#header .header-nav .social a.weibo:hover {
  background: #E6162D;
  border: 1px solid #E6162D;
}
#header .header-nav .social a.rss:hover {
  background: #FF6600;
  border: 1px solid #FF6600;
}
#header .header-nav .social a.zhihu:hover {
  background: #0E88EB;
  border: 1px solid #0E88EB;
}

/* 移动端三点式菜单页面优化 */
@media screen and (max-width: 800px) {
  /* 顶部三个按钮顶部余量 */
  .header-menu.tools-nav {
    margin-top: 20px;
  }
  /* 菜单页面宽度 */
  .tools-col .tools-section, .tools-col .tools-wrap {
    width: 333px;
  }
  /* 搜索按钮偏移 */
  .tools-col .tools-section .search-wrap, .tools-col .tools-wrap .search-wrap {
    width: 292px;
  }
  /* 搜索边框偏移 */
  .tools-col .tools-section .search-wrap .search-ipt {
    width: 293px;
  }
  /* 标签余量归零 */
  .tools-col .tools-section .search-tag.tagcloud, .tools-col .tools-wrap .search-tag.tagcloud {
     margin-right: 0;
  }
  /* 标签提示符tag:偏移 */
  .tools-col .tools-section .search-tag.tagcloud .search-tag-wording {
    margin: 4px 69px 0 0;
  }
  /* 标签按钮偏移 */
  .tools-col .tools-section .search-tag.tagcloud .search-switch input {
    width: 34px;
  }
}

/* 增大移动端文章间隔 */
@media screen and (max-width: 800px) {
  .article {
    margin: 20px 0;
  }
}

/* 公众号 */
.show_img {
  padding-bottom: 3px;
}
.hide_img {
  position: absolute;
  z-index: 9999;
  display: block;
  width: 50px;
  margin: auto 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: all .2s ease-in;
}
.hide_img:hover,
.show_img:hover + .hide_img,
.left-col.show .show_img:hover + .hide_img,
.left-col.show .hide_img:hover {
  display: block;
  width: 77%;
  margin: auto -20px;
  border-radius: 18px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.show_img:hover + .hide_img img,
.hide_img img {
  transition: border-radius .2s ease-in;
}
.show_img:hover + .hide_img img,
.hide_img img:hover {
  border-radius: 18px;
}
/* 左列弹出过渡 */
.left-col.show .hide_img {
  margin: auto 60px;
  width: 0;
  transition: all .2s ease-in;
}
/*.left-col.show .show_img {
  padding-bottom: 0;
}*/
/* 公众号移动端过渡 */
@media screen and (max-width: 800px) {
  .hide_image {
    display: block;
    z-index: 9999;
    position: absolute;
    width:  0;
    margin: -19px auto;
    transition: all .2s ease-in;
  }
  .show_image:hover + .hide_image {
    display: block;
    width: 60px;
    margin: -48px auto;
    transition: all .2s ease-in;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

/* Firefox滚动条优化 */
*, id, class {
  scrollbar-width: thin;
  /*scrollbar-color: #999 #eee;*/
}



